[Desktop Entry]
Type=Application
X-Nemo-Application-Type=silica-qt5
Name=Sona
Icon=harbour-sona
Exec=harbour-sona %u
MimeType=x-scheme-handler/harbour-sona;
