[Desktop Entry]
Type=Application
X-Nemo-Application-Type=silica-qt5
X-Nemo-Single-Instance=true
Name=Sona
Icon=harbour-sona
Exec=harbour-sona %u
MimeType=x-scheme-handler/harbour-sona;

[X-Sailjail]
Permissions=Internet
OrganizationName=com.github.nicosouv
ApplicationName=harbour-sona
